body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #8643D6;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 50px;
    display: flex;
}

article {
    background-color: white;
    padding: 40px 15px 40px 15px;
    width: 400px;
    margin: 10px;
}

.article-but {
    text-decoration: none;
    background-color: #006A55;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #006A55;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

footer a {
    margin-right: 30px;
    margin-top: 10px;
}

footer p {
    font-size: 24px;
}
